/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.6px;
	color: #242121;
	
}

a {
	text-decoration: none;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.6px;
	color: #01353E;
	text-align: center;
}

.title span {
	position: relative;
	padding: 0 48px 0 0;
	display: inline-block;
}

.title span::after {
	content: "";
	background-image: url(../images/streak.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 48px;
	height: 85px;
	top: 15px;
	right: 0;
}


.header {
	background-image: url(../images/header/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position-y: bottom;
}

.header__top {}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.menu {
	width: 100%;
	margin-right: 70px;
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__list-item+.menu__list-item {
	margin-left: 45px;
}

.menu__list-link {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	padding-bottom: 5px;
	transition: all .3s;
}

.menu__list-link:hover {
	border-bottom: 1px solid #00B2A0;
}


.header__content {}

.header__content-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 133px);
}

.header__title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 200px;
	line-height: 235px;
	letter-spacing: 0.6px;
	color: #0D302C;
	margin-top: auto;
	
}

.header__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #000000;
	margin-bottom: auto;
}

.header__icon {
	margin-bottom: 93px;
}

.about__title {
	padding-top: 189px;
	padding-bottom: 96px;
}

.about__text-inner {

padding-bottom: 200px;
}

.about__text-itemm {
	display: flex;
	
}

