/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.6px;
	color: #242121;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.6px;
	color: #01353E;
	text-transform: uppercase;
	text-align: center;
}

.title span {
	position: relative;
	padding: 0 48px 0 0;
	display: inline-block;
}

.title span::after {
	content: "";
	background-image: url(../images/streak.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 48px;
	height: 85px;
	top: 15px;
	right: 0;
}

.header {
	background-image: url(../images/header/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position-y: bottom;
}



.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.menu {
	width: 100%;
	margin-right: 70px;
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__list-item+.menu__list-item {
	margin-left: 45px;
}

.menu__list-link {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	padding-bottom: 5px;
	transition: all .3s;
}

.menu__list-link:hover {
	border-bottom: 1px solid #00B2A0;
}

.header__content-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 133px);
}

.header__title {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 200px;
	line-height: 235px;
	letter-spacing: 0.6px;
	color: #0D302C;
	margin-top: auto;
}

.header__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #000000;
	margin-bottom: auto;
}

.header__icon {
	margin-bottom: 93px;
}

.about__title {
	padding-top: 189px;
	padding-bottom: 96px;
}

.about__text-inner {
	display: flex;
	align-items: space-between;
	padding-bottom: 170px;
	min-height: 350px;
}

.about__text-item {
	margin-right: 120px;
}

.about__text-item p {
	padding-bottom: 30px;
	min-height: 120px;
	max-width: 480px;
}

.school {
	background-color: #F8F8F8;
	padding: 200px 0;
}

.school__title {
	padding-bottom: 100px;
}

.school__items {
	display: flex;
	justify-content: space-between;
}

.school__item {
	max-width: 350px;
	margin-bottom: 100px;
}

.school__item-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	padding-left: 60px;
	padding-bottom: 10px;
	position: relative;
	max-width: 220px;
	min-height: 66px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.school__item-title--liv {
	padding-bottom: 19px;
	padding-left: 65px;
}

.school__item-title::before {
	content: "";
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.school__item-title--liv::before {
	background-image: url(../images/school/living-icon.svg);
	width: 55px;
	height: 50px;
}

.school__item-title--fly::before {
	background-image: url(../images/school/flight-icon.svg);
}

.school__item-title--training::before {
	background-image: url(../images/school/training-icon.svg);
}

.school__inner {
	display: flex;
	justify-content: space-between;
}

.school__info-item {
	/* border: 1px solid green; */
	margin-bottom: 10px;
	width: 346px;
	position: relative;
}

.school__info-item img {
	display: inline-block;
	object-fit: cover;
}

.school__info-item span {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 18px;
	padding-left: 3px;
}

.best {
	background-image: url(../images/best/best-bg.jpg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: top right;

}

.best__title {
	text-align: left;
	padding: 200px 0 100px;
}

.best__inner {
	display: flex;
	margin-bottom: 200px;
}

.best__item-1 {
	flex: 0 0 50%;
}

.best__text {
	max-width: 509px;
	padding-bottom: 140px;
}

.best__text p {
	padding-bottom: 30px;
}

.school__text {
	max-width: 600px;
}

.school__text p {
	padding-bottom: 30px;
}


.gallery {}


.gallery__title {
	margin-bottom: 210px;
}

.gallery__filter-btn {
	margin-bottom: 50px;
	font-family: Roboto Condensed;
	font-weight: 400;
	font-size: 24px;
	line-height: 18px;
	color: #242121;
}

.gallery__btn {
	text-decoration: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-right: 20px;
	text-transform: uppercase;
}

.mixitup-control-active {
	color: #00B2A0;
}


.gallery__content  {
	columns: 2;
	column-gap: 38px;
	margin: 0 -40px 0 -40px;
	padding-left: 40px;
	padding-right: 40px;
	
}



div.gallery__content .gallery__item {
	display: inline-block;
	margin: 0 0 32px 0;
	position: relative;
}

.gallery__content .gallery__item img {
	width: 100%;
}
.cont .row .col {
    display: none;
}

/* .gallery__inner .gallery__content .gallery__item {
	display: none;
} */

.gallery__more-link {
	padding: 23px 91px 24px;
	border: 1px solid #C4C4C4;
	font-weight: 400;
	font-size: 24px;
	line-height: 18px;
	background-color: transparent;
	cursor: pointer;
}

.gallery__more {
	text-align: center;
	margin: 50px 0 200px;
}

.blockquote {
	font-family: Roboto Condensed;
	font-style: italic;
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.6px;
	display: block;
	padding: 80px 10px;
	background-color: #F8F8F8;
	text-align: center;
	margin-bottom: 200px;

}

.blockquote__autor {
	font-family: Roboto Condensed;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.6px;
	color: #242121;
	display: flex;
	justify-content: center;
	align-content: center;
	transform: translateX(300px);
}


.gallery__video-container {
	background-image: url(../images/gallery/video-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 1200px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.gallery__video-img {
	display: block;
}









@media (max-width: 1620px) {
	.best__title {
		padding: 100px 0 100px;
	}
}

@media (max-width: 1420px) {
	.best__title {
		padding: 100px 0 50px;
	}
}

@media (max-width: 1270px) {
	.best__title {
		padding: 70px 0 40px;
	}
}

@media (max-width: 1160px) {
	.title {
		font-size: 40px;
		line-height: 45px;
	}

	body {
		font-size: 13px;
	}

	.title span {
		padding: 0 40px 0 0;
	}

	.title span::after {
		background-image: url(../images/streak_1160px.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 40px;
		height: 70px;
		top: 15px;
		right: 0;
	}
}