body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-page {
    padding: 200px 0;
}

.title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #01353E;
    text-transform: uppercase;
    text-align: center;
    padding: 0 40px 0 0;
}

span.streak {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00B2A0;
}

.header {
    background-image: url(../images/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.header__top {
    transition: all 0.5s linear;
}

.scrolled  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
    background-color: rgb(3,54,63);
    
}


.scrolled div.header__top-inner{
    padding-top: 20px;
}

.margined {
    padding-top: 135px;

}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

img.logo-img {
    display: block;
    height: 65px;
}

.menu {
    width: 100%;
    margin-right: 70px;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list-item+.menu__list-item {
    margin-left: 45px;
}

.menu__list-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 5px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
    border-bottom: 1px solid #00B2A0;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 135px);
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0D302C;
    margin-top: auto;
}

.header__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 93px;
}

.about__title {
    padding-bottom: 95px;
}

.about__text-inner {
    column-count: 2;
}

.about__text-inner p {
    padding-bottom: 30px;
    min-height: 120px;
    max-width: 480px;
}

.school {
    background-color: #F8F8F8;
    padding: 200px 0;
}

.school__title {
    padding-bottom: 100px;
}

.school__items {
    display: flex;
    justify-content: space-between;
}

.school__item {
    max-width: 350px;
    margin-bottom: 100px;
}

.school__item-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-bottom: 10px;
    position: relative;
    max-width: 220px;
    min-height: 66px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.school__item-title--liv {
    padding-bottom: 19px;
    padding-left: 65px;
}

.school__item-title::before {
    content: "";
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.school__item-title--liv::before {
    background-image: url(../images/school/living-icon.svg);
    width: 55px;
    height: 50px;
}

.school__item-title--fly::before {
    background-image: url(../images/school/flight-icon.svg);
}

.school__item-title--training::before {
    background-image: url(../images/school/training-icon.svg);
}

.school__inner {
    display: flex;
    justify-content: space-between;
}

.school__info-item {
    margin-bottom: 10px;
    width: 346px;
    position: relative;
}

.school__info-item img {
    display: inline-block;
    object-fit: cover;
}

.school__info-item span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    padding-left: 3px;
}

.best {
    background-image: url(../images/best/best-bg.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
}

.best__title {
    text-align: left;
    padding: 200px 0 100px;
}

.best__inner {
    display: flex;
    padding-bottom: 140px;
}

.best__item-1 {
    flex: 0 0 50%;
}

.best__text {
    max-width: 509px;
}

.best__text p {
    padding-bottom: 30px;
}

.best__text p:last-child {
    padding-bottom: 0;
}

.school__text {
    max-width: 600px;
}

.school__text p {
    padding-bottom: 30px;
}

.gallery__title {
    margin-bottom: 210px;
}

.gallery__filter-btn {
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
}

.gallery__btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
}

.mixitup-control-active {
    color: #00B2A0;
}

.gallery__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



div.gallery__item:nth-child(1),
div.gallery__item:nth-child(2),
div.gallery__item:nth-child(4),
div.gallery__item:nth-child(5) {
    margin-right: 37px;
}

.gallery__item {
    margin-bottom: 32px;
}

.gallery__content .gallery__item img {
    width: 100%;
}

.gallery__more {
    display: block;
    text-align: center;
    margin: 50px 0 200px;
}

.gallery__more-link {
    width: 350px;
    height: 70px;
    padding: 20px 90px;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: #C4C4C4 solid 1px;
    background-color: transparent;
    cursor: pointer;
    color: #242121;
    transition: all 0.2s;
}

.gallery__more-link:hover {
    border: #999999 solid 2px;
}

.gallery__more-link:active {
    padding: 16px 86px;
    margin: 4px 4px;
    font-size: 22px;
}

.blockquote {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.6px;
    display: block;
    padding: 80px 10px;
    background-color: #F8F8F8;
    text-align: center;
    margin-bottom: 200px;
}

.blockquote__autor {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    display: block;
    max-width: 850px;
    text-align: end;
    margin: 0 auto;
}

.gallery__video-container {
    background-image: url(../images/gallery/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__video-img {
    display: block;
}

.gallery__numbers {
    padding: 200px 10px 0;
}

.gallery__numbers-container {
    max-width: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.gallery__numbers-item {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.6px;
    color: #01353E;
}

.gallery__numbers-item span {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    display: block;
}

.slider-blog {
    max-width: 1920px;
    margin: 0 auto;
}

.slider-blog__title {
    margin-bottom: 230px;
}

.slider-blog__inner {
    display: block;
}

.slick-prev,
.slick-next {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    z-index: 10;
    width: 100px;
    height: 100%;
}

.slick-prev {
    left: 2%;
}

.slick-next {
    right: 2%;
}

.slider-blog__items {
    position: relative;
}

.slider-blog__items::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(36, 33, 33, 0.5);
    z-index: 1;
    display: block;
    margin: 0 auto;
    max-width: 1920px;
}

img.slider-blog__item-bg {
    display: block;
    margin: 0 auto;
}

.slider-blog__text {
    position: absolute;
    top: 50%;
    right: 50%;
    max-width: 600px;
    transform: translate(100%, -60%);
    z-index: 10;
}

.slider-blog__text-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.slider-blog__text-descr {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.slick-dots {
    position: absolute;
    bottom: 77px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.slick-dots button {
    text-decoration: none;
    color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}

.slick-dots li+li {
    margin-left: 15px;
}

.slick-dots .slick-active button {
    background-color: #00B2A0;
}

.team__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team__title {
    margin-bottom: 210px;
}

.team__item-img {
    margin-bottom: 25px;
}

.team__name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.team__position {
    font-weight: normal;
    font-size: 14px;
}

.pricing {
    background-color: #F8F8F8;
}

.pricing__title {
    margin-bottom: 180px;
}

.pricing__inner {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    padding: 45px 43px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.pricing__item-name {
    text-align: center;
    margin-bottom: 58px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
}

.pricing__item-list {
    flex: 1 1 auto;

}

.pricing__item-list li {
    font-weight: 400;
}

.pricing__item-list li+li {
    margin-top: 20px;

}

.pricing__item-price {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    margin-top: 60px;
    text-align: center;
    position: relative;
    padding-right: 14px;
    align-self: center;
}

.pricing__item-price span {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    bottom: 9px;
    right: 0;
}

img.map__img {
    max-width: 100%;
    margin: 0 auto;
}

.connection__title {
    margin-bottom: 240px;
}

.connection__inner {
    display: flex;
}

.connection__form {
    align-self: start;
    display: block;
    width: 50%;
    margin-right: 20px;
}

.connection__form input::placeholder,
.connection__form textarea::placeholder {
    max-width: 260px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #00B2A0;
}

.connection__form input,
.connection__form textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #DADADA;
}

.connection__form input {
    padding-bottom: 18px;
    margin-bottom: 30px;
}

.connection__form textarea {
    padding-bottom: 95px;
    margin: 50px 0 70px;
    min-height: 155px;
    resize: none;
}

.connection__form button {
    padding: 24px 110px;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: #C4C4C4 solid 1px;
    background-color: #fff;
    cursor: pointer;
    color: #242121;
    transition: all 0.2s;
}

.connection__form button:hover {
    border: #999999 solid 2px;
}

.connection__form button:active {
    padding: 18px 104px;
    margin: 6px 6px;
    font-size: 22px;
}

.connection__contacts {
    display: block;
    width: 50%;
    padding: 50px;
    background-color: #F8F8F8;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.connection__contacts p {
    max-width: 330px;
    margin-bottom: 65px;
}

.connection__contacts p:last-child {
    margin: 0;
}

.connection__contacts span {
    display: block;
}

.footer .footer__social {
    display: block;
    padding: 200px 10px;
    text-align: center;
}

.footer__social-list {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    margin-right: 10px;
}

.footer__social-list a {
    color: #242121;
    cursor: pointer;
    transition: all 0.3s;
}

.footer__social-list a:hover {
    color: #00B2A0;
}

.footer__social-list li:last-child {
    margin: 0;
}

.footer__logo {
    display: block;
    background-color: #00B2A0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer__logo a img {
    margin: 0 auto;
}





 /* ADAPTIVE */


 
@media (max-width: 1620px) {
    .best__title {
        padding: 100px 0 100px;
    }
}

@media (max-width: 1420px) {
    .section-page {
        padding: 175px 0;
    }

    .footer .footer__social {
        padding: 175px 10px;
     }

    .best__title {
        padding: 100px 0 50px;
    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 150px;
    }

    .gallery__title,
    .gallery__more,
    .blockquote {
        margin-bottom: 175px;
    }

    .slider-blog__text {
        max-width: 535px;
    }

}

@media (max-width: 1270px) {

    .best__title {
        padding: 70px 0 40px;
    }

    .best__inner {
        padding-bottom: 100px;
    }

    .gallery__title,
    .gallery__more,
    .blockquote {
        margin-bottom: 150px;
    }

    .gallery__numbers {
        padding-top: 150px;
    }

    div.gallery__item {
        margin-right: 32px;
    }

    img.gallery__foto-mini {
        margin: 0;
    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 150px;
    }

    .slider-blog__text {
        max-width: 510px;
    }

    .slider-blog__text-title {
        font-size: 44px;
        line-height: 54px;
    }

    .pricing__item {
        padding: 35px 30px;
    }

    .footer__logo{
        padding: 50px 0;
    }


}

@media (max-width: 1160px) {
    .section-page {
        padding: 145px 0;
    }

    .footer .footer__social {
        padding: 145px 10px;
     }

    .title {
        font-size: 40px;
        line-height: 45px;
    }

    span.streak {
        font-size: 51px;
        line-height: 80px;
    }

    .about__text-inner {
        column-gap: 30px;
    }

    .school__items {
        margin-left: -7px;
        margin-right: -7px;
    }

    .school__item {
        flex: 1 1 33.33%;
        margin-left: 7px;
        margin-right: 7px;
    }

    .school__text {
        padding-left: 15px;
    }

    .best {
        background-image: none;
    }

    .best__item-1 {
        padding-right: 15px;
    }

    .best__item-2 {
        width: 100%;
        margin-right: -10px;
        background-image: url(../images/best/best-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }

    .gallery__title,
    .gallery__more,
    .blockquote {
        margin-bottom: 125px;
    }

    .gallery__numbers {
        padding: 100px 10px 0;

    }

    .gallery__numbers-item {
        font-size: 52px;
        line-height: 66px;
    }


    .gallery__video-container {
        height: 550px;
    }

    .slider-blog__text-title {
        font-size: 34px;
        line-height: 42px;
    }

    .gallery__video-img {
        max-width: 80%;
        margin: 0 auto;
    }

    .slider-blog__text {
        max-width: 470px;
    }

    .slick-dots {

        bottom: 37px;
    }

    .pricing__item {
        max-width: 325px;
    }
}

@media (max-width: 1060px) {
    .team__item+.team__item {
        margin-left: 15px;
    }

    .pricing__item+.pricing__item {
        margin-left: 15px;
    }

    .pricing__item-list li+li {
        margin-top: 16px;
    }

    .pricing__item-name,
    .pricing__item-price {
        font-size: 32px;
        line-height: 36px;
    }

    .pricing__item-price span {
        bottom: 6px;
    }

    .footer__logo {
        padding: 40px 0;
    }
}

@media (max-width: 1005px) {
    .best__inner {
        display: block;
        padding-bottom: 0;
    }

    .best__title {
        text-align: center;
    }

    .best__item-2 {
        display: none;
    }

    .best__text {
        max-width: 100%;
    }

    .best__title {
        padding: 95px 0 95px;
    }


    .slider-blog__text {
        max-width: 360px;
    }

    .slider-blog__text-title {
        font-size: 24px;
        line-height: 30px;
    }


    .slick-dots button {
        text-decoration: none;
        color: transparent;
        width: 12px;
        height: 12px;
    }


    .connection__inner {
        display: block;
    }


    .connection__form {
        width: 100%;
        margin-right: 20px;
        margin-bottom: 56px;
    }

    .connection__form textarea {
        padding-bottom: 53px;
        margin: 44px 0 44px;
    }

    

    .connection__contacts {
        width: 100%;
        padding: 40px;
        font-size: 22px;
        line-height: 28px;
    }

    .connection__contacts p {
        max-width: 100%;
        margin-bottom: 36px;
    }

    .connection__form button {
        padding: 18px 84px;
        font-size: 20px;
    }

    .connection__form button:active {
        padding: 16px 76px;
        margin: 6px 0 0px 6px;
        font-size: 18px;
    }

    .connection__form input::placeholder,
    .connection__form textarea::placeholder {
        max-width: 400px;
    }

}

@media (max-width: 950px) {
    .header__top-inner {
        padding-top: 25px;
    }

    .header__content-inner {
        min-height: calc(100vh - 110px);
    }

    .logo {
        position: relative;
        z-index: 5;
    }

    nav.menu {
        width: 85px;
        height: 24px;
        margin-right: 0;
    }

    .menu__list {
        position: absolute;
        z-index: 3;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        text-align: center;
        background: rgb(29, 42, 52);
        transform: translateY(-200%);
        transition: all 0.5s;
    }

    .header__top-inner--active .menu__list {
        transform: translateY(0%);
    }

    button.menu__btn {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 0.6px;
        color: #fff;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        display: block;
        position: relative;
        z-index: 5;
    }

    ul.menu__list {
        padding: 90px 0 30px;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
        margin-top: 45px;
    }

    .menu__list-link {
        font-size: 28px;
    }

    .header__title {
        font-size: 150px;
        line-height: 150px;
    }

    .header__subtitle {
        font-size: 22px;
        line-height: 26px;
    }

    a.header__icon {
        margin-bottom: 10px;
    }

    .about__text-inner p {
        padding-bottom: 10px;
        min-height: 140px;
    }

    .school__item {
        margin-bottom: 65px;
    }

    .best__inner {
        padding-bottom: 20px;
    }

    .gallery__title,
    .gallery__more,
    .blockquote {
        margin-bottom: 100px;
    }

    .gallery__filter-btn {
        font-size: 22px;

    }

    .gallery__more-link {
        padding: 16px 60px;
        font-size: 20px;
    }

    .gallery__more-link:active {
        padding: 14px 56px;
        font-size: 18px;
    }

    .blockquote {
        font-size: 34px;
        padding: 64px 10px;
    }

    .gallery__video-container {
        height: 445px;
    }

    .gallery__numbers-item {
        font-size: 50px;
        line-height: 70px;
    }

    .gallery__numbers-container {
        justify-content: space-around;
    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 110px;
    }


    .pricing__inner {
        display: block;
        padding: 0 35px;

    }

    .pricing__item {
        max-width: 100%;

    }

    .pricing__item+.pricing__item {
        margin-left: 0;
        margin-top: 20px;
    }

    .pricing__item-list {
        font-size: 18px;
        line-height: 24px;
    }

}

@media (max-width: 835px) {
    .school__title {
        padding-bottom: 80px;
    }

    .school__item-title {
        font-size: 20px;
        line-height: 24px;
    }

    .school__item {
        margin-bottom: 65px;
    }

    .school__info-item span {
        font-size: 22px;
    }

    .school__info-item {
        margin-bottom: 10px;
        width: 295px;
    }

    div.gallery__content .gallery__item {
        margin-bottom: 20px;
    }

    .gallery__content div.gallery__item {
        margin-right: 20px;
    }


    div.gallery__item:nth-child(1),
    div.gallery__item:nth-child(6) {
        width: 349px;

    }

    div.gallery__item:nth-child(2),
    div.gallery__item:nth-child(5) {
        width: 150px;

    }

    div.gallery__item:nth-child(3),
    div.gallery__item:nth-child(4) {
        width: 174px;

    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 80px;
    }

    .slider-blog__text-title {
        font-size: 22px;
        line-height: 28px;
    }

    .slider-blog__text {
        max-width: 330px;
    }

    .slick-dots button {
        width: 8px;
        height: 8px;
        padding: 0;
    }

    .slick-dots li+li {
        margin-left: 10px;
    }

    .slider-blog__text-descr {
        display: none;
    }

    .team__inner,
    .pricing__inner {
        flex-direction: column;
        align-items: center;
    }

    .pricing__inner {
        display: flex;

    }

    .pricing__item {
        max-width: 400px;
        padding: 45px 43px;
        display: flex;

    }

    .team__item+.team__item {
        margin-top: 35px;
        margin-left: 0;
    }

    .team__item-img {
        margin-bottom: 12px;
        max-height: 350px;
    }

    .connection__form textarea {
        padding-bottom: 70px;
        margin: 40px 0 58px;
        min-height: 142px;

    }

    .connection__form button:active {
        margin: 0 0 6px 0px;

    }

    .connection__contacts p {
        margin-bottom: 58px;
    }

    .connection__contacts {
        font-size: 20px;
        line-height: 28px;
    }


}

@media (max-width: 735px) {
    .section-page {
        padding: 100px 0;
    }

    .footer .footer__social {
       padding: 100px 10px;
    }

    .title {
        font-size: 35px;
        line-height: 42px;
    }

    span.streak {
        font-size: 38px;
        line-height: 70px;
    }

    .about__title,
    .school__title,
    .best__title {
        padding-bottom: 75px;
    }

    .about__text-inner {
        column-count: 1;
    }

    .about__text-inner p {
        max-width: 100%;
        padding-bottom: 20px;
        min-height: 50px;
    }

    .school__items {
        display: block;
    }

    .school__item {
        max-width: 100%;
        margin-bottom: 60px;
    }

    .school__item-title {
        margin: 0;
        padding-left: 50px;
    }

    .gallery__title,
    .gallery__more,
    .blockquote,
    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 75px;
    }

    .school__item-title::before {
        top: 9px;
        background-size: contain;
        width: 40px;
        height: 40px;
    }

    .gallery__filter-btn {
        font-size: 18px;
    }

    .gallery__more-link {
        padding: 16px 46px;
        font-size: 18px;
    }

    .gallery__more-link:active {
        padding: 12px 42px;
        font-size: 16px;
    }

    .blockquote {
        font-size: 30px;
        padding: 45px 10px;
    }

    .gallery__video-container {
        height: 350px;
    }

    .gallery__numbers-item {
        font-size: 40px;
        line-height: 60px;
    }

    .connection__form button {
        padding: 18px 66px;
        font-size: 20px;
    }

    .connection__form button:active {
        padding: 16px 56px;
        margin: 3px 0 3px 0;
        font-size: 18px;
    }


    .footer__social-list {
        font-size: 20px;
    }

    .footer__logo {
        padding: 30px 0;
    }

}

@media (max-width: 685px) {
    .title {
        font-size: 33px;
        line-height: 40px;
        padding-right: 25px;
    }

    .school__item {
        margin-bottom: 50px;
    }

    .school__info-item span {
        font-size: 20px;
    }

    .school__info-item {
        margin-bottom: 10px;
        width: 295px;
    }

    .school__inner {
        display: block;
    }

    .school__text {
        padding: 0;
    }

    .school__text p {
        padding: 20px 0 0 0;
    }

    .best__text p {
        padding-bottom: 20px;
    }

    .slider-blog__text {
        max-width: 280px;
    }

    .slider-blog__text-title {
        font-size: 20px;
        line-height: 23px;
    }

    .slick-dots {
        bottom: 14px;
    }

    .team__item-img {
        max-height: 300px;
    }

    .pricing__item {
        max-width: 350px;
        padding: 20px 38px;
    }

    .pricing__item-name,
    .pricing__item-price {
        font-size: 26px;
        line-height: 32px;
    }

    .pricing__item-name {
        margin-bottom: 30px;
    }

    .pricing__item-list {

        font-size: 16px;
        line-height: 22px;
    }

    .pricing__item-list li+li {
        margin-top: 11px;
    }

    .pricing__item-price {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #01353E;
        margin-top: 45px;

    }
}

@media (max-width: 580px) {

    .header__title {
        font-size: 130px;
        line-height: 150px;
    }

    .header__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .section-page {
        padding: 85px 0;
    }

    .footer .footer__social {
        padding: 85px 10px;
     }

    button.menu__btn {
        font-weight: 400;
        font-size: 22px;
    }

    nav.menu {
        width: 62px;
    }

    .about__title,
    .school__title,
    .best__title {
        padding-bottom: 70px;
    }

    .best__title {
        padding: 70px 0;
    }

    .gallery__video-container {
        height: 280px;
    }

    .blockquote {
        font-size: 26px;
    }

    .gallery__video-img {
        max-width: 50%;
    }

    .gallery__numbers-item {
        font-size: 30px;
        line-height: 48px;
    }

    .gallery__numbers {
        padding: 65px 10px 0;

    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 70px;
    }

    .slider-blog__text-title {
        font-size: 18px;
        line-height: 23px;
    }

    .footer__social-list {
        display: block;
        font-size: 24px;
      }

      .footer__social-list + .footer__social-list {
          margin-top: 16px;
      }

      .footer__logo {
        padding: 20px 0;
    }


}

@media (max-width: 470px) {
    .title {
        font-size: 27px;
        line-height: 33px;
    }

    span.streak {
        font-size: 28px;
        line-height: 57px;
    }

    .header__title {
        font-size: 96px;
        line-height: 114px;
    }

    .header__subtitle {
        font-size: 14px;
        line-height: 24px;
    }

    .menu__list-link {
        font-size: 24px;
        line-height: 30px;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
        margin-top: 25px;
    }

    .about__text-inner p:last-child {
        padding-bottom: 0;
    }

    .gallery__video-container {
        height: 250px;
    }

    .gallery__more-link {
        padding: 10px 30px;
        font-size: 16px;
    }

    .gallery__more-link:active {
        padding: 6px 26px;
        font-size: 14px;
    }

    .blockquote {
        font-size: 24px;
        padding: 38px 10px;
    }

    .connection__form button {
        padding: 12px 38px;
        font-size: 16px;
    }

    .connection__form button:active {
        padding: 10px 30px;
       margin-bottom: 2px;
        font-size: 14px;
    }

    .connection__form textarea {
        padding-bottom: 50px;
        margin: 30px 0 40px;
        min-height: 104px;
    }

    .connection__form input {
          margin-bottom: 18px;
    }

    .connection__contacts {
        font-size: 14px;
        line-height: 18px;
    }

    .connection__contacts p {
        margin-bottom: 26px;
    }

    .connection__form input::placeholder,
    .connection__form textarea::placeholder {
        max-width: 260px;
        font-size: 14px;
        line-height: 16px;
      
    }


}

@media (max-width: 430px) {
    .gallery__video-container {
        height: 222px;
    }

    .gallery__numbers-container {
        flex-wrap: wrap;
    }

    .gallery__numbers-item {
        flex: 0 0 50%;
        margin-bottom: 20px;
    }

    .slider-blog__text {
        max-width: 190px;
    }

    .slider-blog__text-title {
        font-size: 16px;
        line-height: 20px;
    }

    .slider-blog__text-title {
        font-size: 14px;
        line-height: 18px;
    }

    .slider-blog__text {
        top: 40%;
    }

    .slick-dots {
        bottom: 7px;
    }

    .team__item-img {
        max-height: 280px;
    }

    .pricing__item {
        padding: 20px 28px;
    }

    .pricing__inner {
        padding: 0px 14px;
    }

    .pricing__item-price {
        font-size: 29px;
        line-height: 33px;
    }

    .gallery__filter-btn .gallery__btn {
        display: block;
    }

    .gallery__btn {
        margin-bottom: 20px;
    }

    .gallery__btn:last-child {
        margin-bottom: 35px;
    }

    .footer__social-list {
          font-size: 20px;
          line-height: 14px;
    }

    .footer__logo {
        padding: 10px 0;
    }
}

@media (max-width: 360px) {
    .section-page {
        padding: 50px 0;
    }

    .footer .footer__social {
        padding: 50px 10px;
     }

    .title {
        font-size: 22px;
        line-height: 30px;
    }

    span.streak {
        font-size: 27px;
        line-height: 51px;
    }

    .header__title {
        font-size: 86px;
        line-height: 108px;
    }

    .header__subtitle {
        font-size: 14px;
        line-height: 24px;
    }

    .school__title {
        padding-bottom: 50px;
    }

    .best__title {
        padding-top: 50px;
    }

    .blockquote {
        font-size: 20px;
        line-height: 30px;
    }

   

    .gallery__title,
    .gallery__more,
    .blockquote {
        margin-bottom: 55px;
    }

    .gallery__video-img {
        max-width: 35%;
    }

    .gallery__video-container {
        height: 180px;
    }

    .gallery__numbers {
        padding: 48px 10px 0;
    }

    .gallery__numbers-item {
        font-size: 26px;
        line-height: 44px;
    }

    .slider-blog__text {
        max-width: 174px;
    }

    .slider-blog__title,
    .team__title,
    .pricing__title,
    .connection__title {
        margin-bottom: 50px;
    }

    .slick-dots button {
        width: 6px;
        height: 6px;
    }

    .slick-dots li+li {
        margin-left: 8px;
    }

    .footer__logo {
        padding: 5px 0;
    }
}